.word {
  display: flex;
  gap: 6px;
}

.letter {
  display: flex;
  justify-content: center;
  width: 65px;
  background-color: #538d4e;
  padding: 10px;
  font-weight: 600;
  text-transform: uppercase;
}
